body {
    margin: 0;
    padding: 0; 
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}

/*
.container > * {outline: 1px dashed magenta;}
.container > * > * {outline: 1px solid yellow;}
*/

.modal {
    display: none;
}

a {
    text-decoration: none;
}

.main-header {
    margin-bottom: 60px;
    padding-bottom: 60px;
    background-color: rgba(242, 246, 248, 0.9);
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-top-wrapper {
    width: auto;
    margin-bottom: 46px;
    color: #000000;
    background-color: #293449;
}

.header-top {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 220px;
    height: 47px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
}

.header-logo:focus {
    background-color: #ba2732;
}

.header-logo:hover {
    background-color: #ca2c37;
}

.input-search {
    color: #000000;
    background-color: #293449;
}

.input-search:focus {
    color: #000000;
    background-color: #ffffff;
}

.input-search:hover,
.markers:hover,
.basket:hover {    
    background-color: #212a3a;
}

.markers:focus,
.basket:focus {    
    background-color: #161d29;
}

.order {
    background-color: #63a63e;
}

.order:hover {
    background-color: #5fbb2d;
}

.order:focus {
    background-color: #518534;
}

.header-middle > * {outline: 1px dashed red;}

.user-navigation {
    margin-left: auto;    
}

.user-navigation a {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.user-navigation a:focus {
    color: #ffffff;
    opacity: 0.5;
}

.header-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-description {
    margin-right: auto;
    padding-left: 52px;
    width: 200px;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    font-style: italic;
    font-weight: 400;
}

.header-contacts {
    width: 300px;
    margin-left: 20px;
}

.header-contacts-phone {
    width: 270px;
    text-align: center;
    border: 2px solid #ffffff;
}

.header-contacts-link {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
}

.header-contacts p {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.authorization {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: 300px;
    margin-left: 20px;
    padding: 0;
}

.authorization li {
    text-align: center;
    background-color: #ffffff;
}

.login-link {
    width: 121px;
}

.registration {
    width: 150px;
}

.authorization a {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.authorization a:hover {
    color: #ee3643;
}

.authorization a:focus {
    color: #000000;
    opacity: 0.3;
}

.header-nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 0 -5px 0 #293449;
    background-color: #32425c;
}

.header-nav-list a {
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
}

.header-nav-list a:focus {
    color: #ffffff;
    opacity: 0.5;
}

.header-nav-item:hover {
    background-color: #293449;
}

.header-nav-item:focus {
    background-color: #1d2739;
}

.index-columns {
    display: flex;
    justify-content: space-between;
}

.index-columns  h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.index-columns  p {
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", Arial, sans-serif;
}

.delivery-list {
    list-style: none;
}

.delivery-item {
    font-size: 18px;
    line-height: 20px;
}

.map {
    border: none;
}

.button {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
    text-align: center;
    border: none;
}

.company .button {
    width: 220px;
}

.contacts .button {
    width: 300px;
}

.main-footer {
    margin-top: 86px;
    font-size: 18px;
    line-height: 24px;
    background-color: #32425c;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 53px;
}

.footer-left {
    width: 380px;
}

.footer-right {
    width: 550px;
}

.footer-logo {
    width: 220px;
    height: 68px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
}

.footer-top a {
    display: block;
    color: #f1f5f7;
}

/*        желтая навигация в футере
.footer-middle a {
    color: #ffda96;
}
*/

.footer-nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.footer-nav-item {
    padding-left: 60px;
}

.footer-nav-item a:hover {
    text-decoration: underline;
}

.footer-nav-item a:focus {
    opacity: 0.5;
}

.footer-contacts  {
    color: #f3f7f9;
    font-style: normal;
}

.footer-contacts a {
    display: inline-block;
}

.footer-bottom {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;
}

.footer-bottom .container {
    display: flex;
    justify-content: space-between;
}

.copyright,
.social,
.footer-wrapper {
    width: 300px;
}

.social-list {
    list-style: none;
}

.social-item {
    background-color: #212a3a;
}

.social-item:hover,
.social-item:focus {
    background-color: #ee3643;
}


.footer-wrapper {
    display: flex;
    justify-content: flex-end; 
}

.mail a, 
.createdby a {
    color: #ffd180;
}

.mail a:hover, 
.createdby a:hover {
    text-decoration: underline;
}

.mail a:focus, 
.createdby a:focus {
    color: #ee3643;;
}


/*для внутренней*/

.header-contacts-inner a {
    color: #e9292a;
}

.user-menu {
    list-style: none;
}

.user-name {
    width: 299px;
}

.user-name a:hover {
    color: #000000;
}

.user-menu {
    display: flex;
}

.user-menu a {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.user-menu a:hover {
    color: #ee3643;
}

.user-menu a:focus {
    color: #32425c;
    opacity: 0.3;
}

.breadcrumbs {
    display: flex;
    list-style: none;
    margin-bottom: 25px;    
}

.breadcrumbs a {
    padding: 40px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.inner-page-title {
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    background-color: #f2f6f8;
    margin-bottom: 20px;
}

.inner-wrapper {
    display: flex;
    justify-content: space-between;
}

.filter-list {
    list-style: none;
}

.filters fieldset {
    border: none;
}

.filters {
    width: 220px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
}

.filters legend {
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
}

.filter-input:disabled + label {
    opacity: 0.4;
}

.filter-button {
    width: 140px;
    height: 38px;
    color: #000000;
    font-size: 13px;
    line-height: 18px;    
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}

.catalog {
    width: 700px;
}

.catalog-list {
    margin: 0;
    margin-bottom: 52px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog-item {
    width: 220px;
    margin-bottom: 20px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}

.catalog-item:hover {
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item a {
    color: #000000;
}

.catalog-item h3 {    
    font-size: 18px;    
    line-height: 20px;
}

.catalog-item-price del,
.catalog-item-price span{
    font-size: 17px;
    line-height: 18px;
    color: #999999;
}

.catalog-item-price span {
    color: #ffffff;
    text-transform: uppercase;    
    background-color: #ee3643;
}

.catalog-item-actions button {
    width: 135px;
    height: 38px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.catalog-item-actions {
    display: none;
    list-style: none;
}

.catalog-item:hover .catalog-item-actions {
    display: block;
}

.catalog-item:hover img {
    display: none;
}

.add-to-basket {    
    color: #ffffff;    
    box-shadow: inset 0 -3px 0 #367315;
    background-color: #63a63e;
    border: none;
}

.add-to-basket:hover {
    background-color: #5fbb2d;
}

.add-to-basket:focus {
    background-color: #518534;
    box-shadow: none;
}

.marked {
    color: #32425c;
    background-color: #ffffff;
    border: 3px solid #63a63e;
}

.marked:hover {
    border: 3px solid #32425c;
}

.marked:focus {
    opacity: 0.3;
}

.pagination-list {
    list-style: none;
    display: flex;
    margin-bottom: 60px;
}

.pagination-item {
    width: 38px;
    margin-right: 10px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.pagination-item a {
    display: block;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}

.pagination-item a:hover {
    border: 1px solid #bdc6ca;
}

.pagination-item a:focus {
    border: 1px solid #ee3643;
}

.pagination-item-current a {
    color: #ffffff;
    background-color: #ee3643;
}

.pagination-item-next {
    width: 140px;
}
