body {
    min-width: 960px;
    margin: 0;
    padding: 0; 
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: block;
    padding: 11px 0 9px 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    background-color: #ee3643;
    text-align: center;
    border-radius: 3px;
}

.flag-new {
    position: relative;
}

.flag-new::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 59px;
    top: 0px;
    right: 0px;
    background-image: url("../img/raster/new-flag.png");
    background-repeat: no-repeat;
}

/* ----------здесь начинается хедер---------- */

.main-header {
    margin-bottom: 59px;
    padding-bottom: 60px;
    background-color: rgba(242, 246, 248, 0.9);
}

.header-top-wrapper {
    margin: 0;
    width: auto;
    margin-bottom: 46px;
    color: #000000;
    background-color: #293449;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-top {
    display: flex;
    align-items: center;
}

.header-logo {
    position: relative;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
    padding: 13px 55px 6px 55px;
}

.header-logo-inner:focus {
    background-color: #ba2732;
}

.header-logo-inner:hover {
    background-color: #ca2c37;
}

.search {
    width: 270px;
    position: relative;
    display: flex;
/*    padding-left: 44px;*/
}

.input-search {
    margin: 0;
    padding: 12px 5px 12px 49px;
    width: 100%;
    border: none;
    background-color: #293449;
    color: #000000;
    outline: none;
}

.input-search::placeholder {
    color: #ffffff;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
}

.search svg {
    order: -1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 17px;
    opacity: 0.3;
    fill: #ffffff;
}

.search:hover,
.input-search:hover {
    background-color: #212a3a;
}

.input-search:focus,
.input-search:focus {
    color: #000000;
    background-color: #ffffff;
}

.input-search:hover ~ svg,
.search svg:hover {
    opacity: 1;
}

.search:focus + svg {    /* почему не меняет цвет? */
    fill: #ee3643;
}

.user-navigation {
    margin-left: auto;
    display: flex;
}

.user-navigation a {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    position: relative;
}

.user-navigation a:focus {
    color: #ffffff;
    opacity: 0.5;
}

.markers {
    padding-left: 44px;
    padding-right: 10px;
    width: 96px;
}
    
.markers::before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
    
    width: 14px;
    height: 16px;
    
    background-image: url("../img/vector/icon-bookmark.svg");
    background-repeat: no-repeat;
    
    opacity: 0.3;
}

.basket {
    padding-left: 50px;
    padding-right: 10px;
    width: 90px;
}

.basket::before {
    content: "";
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    
    width: 15px;
    height: 15px;
    
    background-image: url("../img/vector/icon-cart.svg");
    background-repeat: no-repeat;
    
    opacity: 0.3;
}

.basket-with-goods {
    background-color: #ee3643;
}

.order {
    padding-right: 10px;
    padding-left: 20px;
    background-color: #63a63e;
    width: 120px;
}

.markers:hover,
.basket:hover {
    background-color: #212a3a;
}

.markers:focus,
.basket:focus {    
    background-color: #161d29;
}

.order:hover {
    background-color: #5fbb2d;
}

.order:focus {
    background-color: #518534;
}

.markers:hover::before,
.basket:hover::before {
    opacity: 1;
}

.markers:focus::before,
.basket:focus::before {
    opacity: 0.5;
}

.header-middle {
    display: flex;
    justify-content: flex-start;
    align-items: top;
    margin-bottom: 39px;
}

.site-description {
    margin: 0 68px 0 0;
    padding: 3px 0 0 52px;
    width: 200px;
    
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    font-style: italic;
    font-weight: 400;
}

.header-contacts-link {
    box-sizing: border-box;
    border: 3px solid #ffffff;
    width: 270px;
    position: relative;
    display: block;
    padding: 10px 46px 8px 70px;
    margin-bottom: 4px;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
}

.header-contacts-link::before {
    content: "";
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    
    width: 19px;
    height: 19px;
    
    background-image: url("../img/vector/icon-phone.svg");
    background-repeat: no-repeat;
}

.header-contacts p {
    margin: 0;
    padding:  0;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    text-align: center;
}

.authorization {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    list-style: none;
    width: 300px;
    padding: 0;
    padding-top: 12px;
    margin: 0;
    margin-left: auto;
}

.authorization a {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.authorization a:hover {
    color: #ee3643;
}

.authorization a:focus {
    color: #c5c5c5;
}

.login-link a {
    position: relative;
    width: 121px;
    margin: 0;
    margin-left: 69px;
    padding: 11px 27px 11px 48px;
}

.login-link a::before {
    content: "";
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    
    width: 20px;
    height: 17px;
    
    background-image: url("../img/vector/icon-login.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
}

.login-link a:hover::before {
    opacity: 1;
}

.registration a {    
    width: 150px;
    margin: 0;
    margin-left: 10px;
    padding: 11px 25px 10px 22px; 
}

.header-nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: inset 0 -5px 0 #293449;
    background-color: #32425c;
}

.header-nav-list a {
    padding: 20px 31px 23px 30px;
    display: block;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
}

.header-nav-item:first-child a {
    padding-left: 52px;
}

.header-nav-item:last-child a {
    padding-right: 53px;
}

.header-nav-list a:focus {
    color: #ffffff;
    opacity: 0.5;
}

.header-nav-item:hover {
    background-color: #293449;
}

.header-nav-item:focus {
    background-color: #1d2739;
}



/* ----------здесь начинается мэйн---------- */

.promo-block {
    padding-top: 39px;
    margin-bottom: 33px;
    position: relative;
}

.index-subtitle {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
}

.promo-catalog,
.promo-offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    position: relative;
}

.promo-item,
.promo-slider {
    box-sizing: border-box;
    width: 300px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 21px 28px 22px 23px;
}

.promo-catalog-item:nth-child(3n),
.promo-offers-item {
    margin-right: 0;
}

.promo-materials {
    background-color: #ffbf47;
    background-image: url("../img/vector/icon-1.svg");
    background-repeat: no-repeat;
    background-position: top 31px right 43px;
}

.promo-instruments {
    background-color: #3bbce3;
    background-image: url("../img/vector/icon-2.svg");
    background-repeat: no-repeat;
    background-position: top 33px right 28px;
}

.promo-devices {
    background-color: #dc91d8;
    background-image: url("../img/vector/icon-3.svg");
    background-repeat: no-repeat;
    background-position: top 31px right 31px;
}

.promo-discount {
    background-color: #8ed78f;
    background-image: url("../img/vector/icon-4.svg");
    background-repeat: no-repeat;
    background-position: top 26px right 45px;
}

.promo-delivery {
    background-color: #ffc047;
    background-image: url("../img/vector/icon-5.svg");
    background-repeat: no-repeat;
    background-position: top 32px right 31px;
}

.promo-button {
    width: 135px;
    margin-left: 2px;
    background-color: rgba(0, 0, 0, 0.1);
}

.promo-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.promo-button:focus {
    background-color: rgba(0, 0, 0, 0.3);
}

.promo-item span {
    display: block;
    width: 170px;
    margin-bottom: 12px;
    overflow-wrap: break-word;
}

.promo-slider {
    margin: 0;
    margin-right: 20px;
    padding: 0;
    width: 620px;
}

.slider-controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 10px;

  vertical-align: top;

  background-color: #ee3643;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 36px;
  left: 295px;
  z-index: 20;
  
  font-size: 0;
}

.slider-1,
.slider-2 {    
    padding: 23px 20px 22px 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.slider-1 {
    background-color: #685c53;
    background-image: url("../img/raster/slider-1.jpg");
    background-repeat: no-repeat;
    display: none;
}

.slider-2 {
    display: none;
    background-color: #d3c2b2;
    background-image: url("../img/raster/slider-2.jpg");
    background-repeat: no-repeat;
}

.slider-1-toggle:checked ~ .promo-slider .slider-1  {
    display: flex;
}

.slider-2-toggle:checked ~ .promo-slider .slider-2  {
    display: flex;
}

.slider-1-toggle:checked ~ .slider-controls label[for="slider-1"],
.slider-2-toggle:checked ~ .slider-controls label[for="slider-2"]{
    background-color: #ffffff;
}

.slider-title,
.slider-text {
    padding: 0;
    margin: 0;
    margin-bottom: 2px;
    overflow-wrap: break-word;
}

.slider-title {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.slider-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 121px;
}

.slider-button {
    margin-top: auto;
    margin-left: 1px;
    padding: 11px 47px 9px 49px;
}

.slider-button:hover {
    background-color: #ca2c37;
}

.slider-button:focus {
    background-color: #ba2732;
}

.slider-switch {
    position: relative;
}

.slider-switch button {
    position: absolute;
    top: 120px;
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: none;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    cursor: pointer;
}

.switch-left {
    transform: rotate(-135deg);
    left: 31px;
}

.switch-right {
    transform: rotate(45deg);
    left: 566px;
}

.popular-wrapper {
    display: flex;
    justify-content: space-between;
    color: #32425c;
    background-color: #f9f5f0;
    align-items: flex-start;
    margin-bottom: 19px;
}

.popular-title {
    margin: 30px 0 30px 28px;
}

.popular-button {
    width: 253px;
    padding: 10px 0 10px 0;
    margin: 25px 24px 26px 0;
}

.catalog-list {
    margin: 0;
    margin-bottom: 1px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
}

.popular-goods-item {
    width: 218px;
    margin-bottom: 20px;
    margin-right: 20px;    
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    position: relative;
}

.popular-goods-item:nth-child(4n) {
    margin-right: 0;
}

.popular-goods-item:hover {
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
}

.product-title {
    font-size: 18px;    
    line-height: 20px;
    text-align: center;
    margin: 9px 29px 11px 29px;
}

.catalog-list img {
    order: -1;
}

.catalog-item-actions {
    display: none;
    list-style: none;
    position: absolute;
    top: 43px;
    left: 1px;
}

.catalog-item:hover .catalog-item-actions {
    display: block;
}

.catalog-item:hover img {
    visibility: hidden;
}

.catalog-item:focus-within .catalog-item-actions {
    display: block;
}

.catalog-item:focus-within img {
    visibility: hidden;
}

.catalog-item-actions a, 
.catalog-item-actions button {
    display: block;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 3px;
}

.add-to-basket { 
    color: #ffffff;    
    box-shadow: inset 0 -3px 0 #367315;
    background-color: #63a63e;
    border: none;
    margin-bottom: 8px;
    padding: 11px 12px 9px 49px;
    position: relative;
}

.add-to-basket::before {
    content: "";
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    
    width: 15px;
    height: 15px;
    
    background-image: url("../img/vector/icon-cart.svg");
    background-repeat: no-repeat;
    
    opacity: 0.3;
}

.add-to-basket:hover {
    background-color: #5fbb2d;
}

.add-to-basket:focus {
    background-color: #518534;
    box-shadow: none;
}

.add-to-basket:hover::before,
.add-to-basket:focus::before {
    opacity: 1;
}

.marked {
    color: #32425c;
    background-color: #ffffff;
    border: 3px solid #63a63e;
    padding: 8px 29px 6px 33px;
}

.marked:hover {
    border: 3px solid #32425c;
}

.marked:focus {
    opacity: 0.3;
}

.catalog-list .flag-new::before {
    top: -1px;
    right: -1px;
}

.product-price-old,
.product-price {    
    margin-bottom: 10px;
    padding: 0;
    padding-left: 3px;
    font-size: 17px;
    line-height: 18px;
    color: #999999;
}

.product-price {
    padding: 10px 39px 10px 35px;
    margin-top: auto; /* почему не отталкивается вниз? */
    margin-left: 8px;
    margin-bottom: 20px;
    color: #ffffff;
    text-transform: uppercase;    
    background-color: #ee3643;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    position: relative;
}

.product-price::after {
    content: "";
  
    position: absolute;
    top: 0;
    right: -19px;
  
    width: 0;
    height: 0;
  
    border: 19px solid;
    border-left-color: #ee3643;
}

.popular-brands-list {
    margin: 0;
    margin-bottom: 65px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
}

.popular-brands-item {
    width: 218px;
    margin: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 1px solid #eaeaea;
}

.popular-brands-item:nth-child(4n) {
    margin-right: 0;
}

.brand-logo:hover {
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brand-logo:focus {
    box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
    opacity: 0.3;
}

.brand-logo {
    display: block;
}

.logo-bosch {
    padding: 52px 46px 50px 46px;
}

.logo-makita {
    padding: 49px 48px 50px 47px;
}

.logo-dewalt {
    padding: 47px 36px 48px 36px;
}

.logo-interskol {
    padding: 20px 10px 30px 8px;
}

.logo-hitachi {
    padding: 57px 22px 51px 27px;
}

.logo-lg {
    padding: 34px 50px 32px 47px;
}

.logo-aeg {
    padding: 22px 33px 21px 34px;
}

.logo-metabo {
    padding: 33px 5px 37px 9px;
}

.services {
    padding: 65px 0 98px 0;
    background-color: #f4f8f9;
}

.services-title {
    margin: 0;
    margin-bottom: 26px;
    padding: 0;
}

.services-intro {
    padding: 0;    
    margin: 0;
    margin-bottom: 23px;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    font-family: "PT Sans", "Arial", sans-serif;
}

.services-wrapper {
    display: flex;
}

.services-list,
.services-info {
    list-style: none;
    padding: 0;
    padding-top: 46px;
    margin: 0;
}

.services-button {
    width: 240px;
    padding: 14px 0 17px 23px;
    margin-bottom: 1px;
    background-color: #32425c;
    border: none;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #ffffff;
    text-align: left;
    box-shadow: 
        0 1px 0 #293449, 
        inset 0 1px 0 #405069;
}

.services-button:hover {
    background-color: #293449;
}

.services-button-current,
.services-button-current:hover {
    color: #32425c;
    background-color: #ffffff;
    box-shadow: none;
}

.services-info {
    position: relative;
    padding: 0;
    margin: 0;
}

.services-info::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -10px;
    width: 10px;
    height: 272px;
    background-image: url(../img/raster/services/shadow.png);
}

.services-info li {
    position: absolute;
    top: 44px;
    left: 80px;
    display: none;
}   

.services-info .services-info-current {
    display: block;
}

.services-subtitle {
    margin: 0;
    margin-bottom: 25px;
    color: #32425c;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
    font-family: "Cuprum", "Arial", sans-serif;
    letter-spacing: 0.5px;
}

.services-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    font-family: "PTSans", "Arial", sans-serif;
    letter-spacing: -0.4px;
    width: 279px;
    margin-bottom: 26px;
}

.services-info-guarantee .services-text {
    width: 380px;
}

.services-info li::after {  
    content: "";
    position: absolute;
}

.services-info-delivery::after {
    top: 25px;
    left: 151px;
    width: 468px;
    height: 261px;
    background-image: url(../img/raster/services/delivery.png);
    background-repeat: no-repeat;
}

.services-info-guarantee::after {
    top: 3px;
    left: 239px;
    width: 389px;
    height: 283px;
    background-image: url(../img/raster/services/guarantee.png);
    background-repeat: no-repeat;
}

.services-info-credit::after {
    top: 2px;
    left: 165px;
    width: 465px;
    height: 285px;
    background-image: url(../img/raster/services/credit.png);
    background-repeat: no-repeat;
}

.credit-button {
    width: 195px;
}

.index-columns {
    display: flex;
    padding: 0;
    padding-top: 54px;
}

.index-columns h2 {
    padding: 0;
    margin: 25px 0 26px 0;
}

.index-columns  p {
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", "Arial", sans-serif;
    padding-right: 100px;
}

.company-intro {
    letter-spacing: 0.15px;
    margin-bottom: 24px;
}

.delivery-intro {
    letter-spacing: 0.05px;
    margin-bottom: 21px;
}

.delivery-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 16px;
}

.delivery-item {
    font-size: 18px;
    line-height: 20px;
    padding-left: 36px;
    margin-bottom: 20px;
    position: relative;
}

.delivery-item::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #ee3643;
}

.company .button {
    width: 220px;
}

.contacts-intro {
    margin-bottom: 31px;
}

.map {
    display: block;
    border: none;
    margin-bottom: 36px;
}

.contacts .button {
    box-sizing: border-box;
    width: 300px;
    padding: 11px 58px 9px 62px;
}

/* ----------здесь начинается футер---------- */

.main-footer {
    margin-top: 86px;
    font-size: 18px;
    line-height: 24px;
    background-color: #32425c;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start ;
}

.footer-left {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-right {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-logo {
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
    margin: 0;
    margin-bottom: 28px;
    padding: 20px 41px 18px 41px;
}

.footer-logo-inner:focus {
    background-color: #ba2732;
}

.footer-logo-inner:hover {
    background-color: #ca2c37;
}

.footer-top a {
    display: block;
    color: #f1f5f7;
}

.footer-contacts  {
    color: #f1f5f7;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 0;
    margin: 0;
    margin-left: 3px;
}

.footer-contacts address {
    font-style: normal;
}

.footer-contacts-link {
    width: 130px;
}

.footer-nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.footer-nav-item a {
    padding: 0;
    margin: 38px 0 0 59px;
}

.footer-nav-item a:hover {
    text-decoration: underline;
}

.footer-nav-item a:focus {
    opacity: 0.5;
}

.extra-menu a {
    color: #ffda96;
    margin-top: 34px;
}

.footer-bottom {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;
    margin-top: 49px; 
    padding: 37px 0 30px 0;
}

.footer-bottom .container {
    display: flex;
    justify-content: space-between;
}

.copyright {
    width: 230px;
    margin: 0;
    padding: 0;
}

.social,
.footer-wrapper {
    width: 300px;
    display: flex;
    justify-content: center;
}

.social-list {
    list-style: none;
    display: flex;
    margin: -3px 0 0 5px;
}

.social-button {
    background-color: #212a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin: 0;
    margin-right: 3px;
    border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
    background-color: #ee3643;
}

.footer-wrapper p {
    margin: 0;
}

.mail {
   padding-left: 1px; 
}

.createdby {
    padding-left: 51px;
}

.mail a, 
.createdby a {
    color: #ffd180;
}

.mail a:hover, 
.createdby a:hover {
    text-decoration: underline;
}

.mail a:focus, 
.createdby a:focus {
    color: #ee3643;;
}



/* -----отдельные стили для внутренней страницы---- */

.header-middle-inner {
    margin-bottom: 35px;
}

.header-contacts-inner a {
    color: #e9292a;
    margin-top: 1px;
    padding: 10px 42px 8px 70px;
}

.user-menu-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.authorization-inner,
.user-menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.authorization-inner {
    background-color: #ffffff;
    padding: 12px 0;
    margin: 0;
}

.user-name a {
    width: 299px;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    margin-left: 46px;
    margin-right: 31px;
    position: relative;
}

.user-name a:focus {
    opacity: 0.3;
}

.user-name a::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -33px;
    
    width: 20px;
    height: 18px;
    
    background-image: url("../img/vector/icon-user.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
}

.user-name a:hover::before {
    opacity: 1;
}

.profile-exit {
    padding: 13px 10px 15px 20px;   
    background-image: url("../img/vector/icon-logout.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    margin-right: 6px;
    opacity: 0.3;
}

.profile-exit:hover {
    opacity: 1;
}

.user-menu {
    margin: 7px 17px;
    position: relative;
}

.user-menu a {
    margin-right: 32px;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    position: relative;
}

.user-orders a::before,
.user-profile a::before {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    height: 1px;
    background-color: #32425c;
}

.user-orders a::before {
    width: 75px;
}

.user-profile a::before {
    width: 104px;
}

.user-menu a:hover {
    color: #ee3643;
}

.user-menu a:focus {
    color: #32425c;
    opacity: 0.3;
}

.user-menu::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 90px;
    height: 4px;
    background-color: #32425c;
    width: 4px;
    border-radius: 50%;
}

.main-header {
    margin-bottom: 20px;
}

.breadcrumbs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0; 
    margin-bottom: 20px;
}

.breadcrumbs-item {
    padding: 0;
    margin-right: 40px;
    position: relative;
}

.breadcrumbs-home {
    margin-right: 36px;
}

.breadcrumbs a {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.breadcrumbs-item::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -26px;
    width: 7px;
    height: 7px;
    border-top: 1px solid #c5c9d1;
    border-right: 1px solid #c5c9d1;
    transform: rotate(45deg);
}

.breadcrumbs-home::before {
    display: none;
}

.breadcrumbs-home a {
    padding: 10px;   
    background-image: url("../img/vector/icon-home.svg");
    background-repeat: no-repeat;
    background-position: -2px 12px;
}

.inner-page-title {
    font-weight: 400;
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    background-color: #f2f6f8;
    margin-bottom: 20px;
    padding: 30px 0 29px 28px;
}

.inner-wrapper {
    display: flex;
    justify-content: space-between;
}

.filters {
    width: 220px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
}

.filters-title,
.catalog-title {
    font-size: 13px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    line-height: 18px;
    padding: 10px 0 10px 19px;
    background-color: #f7f3ec;
    text-transform: uppercase;
    margin: 0;
}

.filters-title {
    margin-bottom: 11px;
}

.filters fieldset {
    border: none;
    position: relative;
}

.filters legend {
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 14px;
}

.filter-price {
    margin: 0;
    padding: 0;
    margin-bottom: 42px;
}

.range-filter {
    width: 220px;
}

.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 9px;  
    background-color: #f7f3ec;  
    border-radius: 2px;
    padding: 39px 24px 0 20px;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 152px;
    height: 2px;
  
    background: #00ca74;
}

.range-controls .filter-toggle {
    position: absolute;
    top: 31px;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #e0ddd8;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    vertical-align: top;
    width: 95px;
    font-size: 17px;
    text-transform: uppercase;
}

.min-price {
    margin-right: 30px;
    position: relative;
}

.min-price::after {
    content: "";
    width: 10px;
    height: 1px;
    background-color: #000000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
}

.price-controls input {
    width: 50px;
    padding: 9px 20px 10px 25px;
    text-align: center;
    border: none;
    border-radius: 2px;
    background-color: #f7f3ec;
}

.filter-brands::before,
.filter-power-type::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 1px;
    top: -17px;
    left: -1px;
    background-color: #e5e5e5;
}

.filter-brands,
.filter-power-type {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 14px;
}

.filter-option {
    margin-left: 21px;
    margin-bottom: 20px;
}

.filter-input ~ label {
    position: relative;
}

.filter-input-checkbox ~ label::before {
    content: "";
    
    position: absolute;
    top: -1px;
    left: -35px;
    
    width: 27px;
    height: 23px;
    
    background-image: url("../img/vector/checkbox-off.svg");
    background-repeat: no-repeat;
    
    opacity: 0.2;
}

.filter-input-checkbox:checked ~ label::before {
    background-image: url("../img/vector/checkbox-on.svg");
    background-repeat: no-repeat;
}

.filter-input-radio ~ label::before {
    content: "";
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -35px;
    
    width: 17px;
    height: 17px;
    
    border: 4px solid #000000;
    opacity: 0.2;
    border-radius: 50%;
}

.filter-input-radio ~ label::after {  
    display: none;
    content: "";
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -27px;
    
    width: 8px;
    height: 8px;
    
    background-color:  #000000;
    opacity: 0.2;
    border-radius: 50%;
}

.filter-input-radio:checked ~ label::after {
    display: block;
}

.filter-input:hover ~ label::before,
.filter-input:hover ~ label::after {
    opacity: 0.3;
}

.filter-input:focus ~ label::before {
    outline: 1px solid #3aaeb3;
}

.filter-input:disabled + label {
    opacity: 0.4;
}

.filter-input:disabled + label::before,
.filter-input:disabled + label::after {
    opacity: 0.2;
}


.filter-button {
    width: 140px;
    height: 38px;
    color: #000000;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;    
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    margin-top: 58px;
}

.catalog-sorting {
    width: 700px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.sorting-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    background-color: #f7f3ec;
    
    margin-bottom: 20px;
}

.catalog-title {
    margin-right: auto;
}

.sorting-parameter {
    margin: 0px 26px 0px 39px;
    opacity: 0.3;
    color: #000000;
    
}

.sorting-parameter:hover {
    opacity: 1;
    border-bottom: 1px solid #ee3643;
}

.current-parameter {
    opacity: 1;
    color: #ee3643;
    border: none;
}

.arrows {
    position: relative;
    width: 80px;
    height: 22px;
}

.arrow-up,
.arrow-down {
    position: absolute;
    cursor: pointer;
    border: 10px solid #000000;
    opacity: 0.1;
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.arrow-current {
    border-bottom-color: #ee3643;
    opacity: 1;
}

.arrow-up {
    top: -5px;
    left: 21px;
}

.arrow-down {
    top: 5px;
    left: 52px;
    transform: rotate(180deg);
}

.arrow-up:hover,
.arrow-down:hover {
    opacity: 1;
}

.catalog-list-inner {
    margin-bottom: 32px;
}

.catalog-item {
    width: 218px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-weight: 700;
    text-transform: none;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    position: relative;
}

.catalog-item-inner:nth-child(3n) {
    margin-right: 0;
}

.catalog-item:hover {
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.pagination-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
}

.pagination-item a {
    padding: 9px 14px 9px 15px;
    margin-right: 10px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    display: block;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    color: #000000;
    background-color: #ffffff;
}

.pagination-item a:hover {
    border: 1px solid #bdc6ca;
}

.pagination-item a:focus {
    border: 1px solid #ee3643;
}

.pagination-item-current a {
    color: #ffffff;
    background-color: #ee3643;
}

.pagination-item-next a {
    padding: 9px 31px;
}

.about-perforators {
    background-color: #f2f6f8;
    padding: 65px 0 69px 0;
}

.about-perforators h2 {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.about-perforators p {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.45px;
}

.footer-inner {
    margin: 0;
}






/*      здесь начинаются стили для модальных окон    */

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-top: 7px solid #ee3643;
}

.modal-close {
    position: absolute;
    top: 9px;
    right: 9px;    
    width: 21px;
    height: 21px;
    font-size: 0;    
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";

    position: absolute;
    top: 9px;
    right: -3px;

    width: 27px;
    height: 4px;

    background-color: #ee3643;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-map {
    width: 940px;
    height: 446px;
    box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
    background-color: #565656;
    border: none;
}

.modal-map iframe {
    position: absolute;
    border: none;
}

.modal-map img {
    position: absolute;
    z-index: -1;
    border: none;
}

.modal-feedback {
    width: 620px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 47px 81px 16px 81px;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.form-element {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 18px;    
}

.feedback-name,
.feedback-mail,
.feedback-body {
    box-sizing: border-box;
    width: 220px;
    height: 38px;
    padding: 14px 13px;
    margin-top: 9px;
    margin-bottom: 21px;
    font-family: "PT Sans", "Arial", sans-serif;;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    flex-direction: column;
}

.feedback-name::placeholder,
.feedback-mail::placeholder,
.feedback-body::placeholder {
    color: #a9a9a9;
    font-family: "PT Sans", "Arial", sans-serif;;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.feedback-body {
    width: 460px;
    height: 114px;
    padding: 9px 12px;
}

.button-field {
    background-color: #f4f4f4;
    margin: 0;
    padding: 37px 80px;
}

.modal-feedback .button {
    border: none;
    width: 460px;
    padding: 10px 8px;
}

.modal-added {
    width: 620px;
    box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.added {
    margin: 47px 80px;
    padding: 19px 0 20px 100px;
    font-family: "Cuprum", "Arial", sans-serif;;
    font-size: 30px;
    line-height: 30px;
}

.modal-added::before {
    position: absolute;
    top: 48px;
    left: 81px;
    content: "";
    width: 66px;
    height: 66px;
    background-color: #63a63e;
    border-radius: 50%;
}

.added::before,
.added::after {
    content: "";
    height: 7px;
    background-color: #ffffff;
    position: absolute;
}

.added::before {
    width: 18px;
    transform: rotate(45deg);
    top: 83px;
    left: 95px;
}

.added::after {
    width: 35px;
    transform: rotate(-45deg);
    top: 80px;
    left: 103px;
}

.modal-added .button-field {
    display: flex;
    justify-content: space-between;
}

.modal-added .button {
    width: 220px;
    border: none;
    padding: 10px 0;
}

.button-proceed {
    color: #000000;
    background-color: #ffffff;
}

.modal-show {
    display: block;
}